#cartItemsContainer {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quantityInput {
  width: 50px;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}

.item-price {
  font-size: 23px;
}

#cart-item-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
#cart-delete-btn {
  font-size: 30px;
}

.cart-item-name {
  font-size: 20px;
}

#cart-total-price {
  width: 80%;
  font-size: 23px;
}

.cart-line-separator {
  color: black;
  width: 80%;
}

#removeBtnDiv:hover {
  color: red;
  cursor: pointer;
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 481px) {
  #cartItemsContainer {
    width: 100%;
  }

  .quantityInput {
    width: 20px;
  }

  .cart-btn-container {
    justify-content: center;
    align-items: center;
  }

  .cart-btn-container button {
    width: 25px;
  }

  #cart-item-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 19px;
    padding: 0px;
  }

  #cart-item-row .item1 {
    grid-column: 1 / span 3;
    display: inline-block;
  }

  .item2 {
    grid-column: 1 / span 1;
  }
  .item3 {
    grid-column: 2 / span 1;
  }
  #cart-total-price div {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  #cartItemsContainer {
    width: 100%;
  }

  .quantityInput {
    width: 30px;
  }

  .cart-btn-container {
    justify-content: center;
    align-items: center;
  }

  .cart-btn-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 35px;
  }

  .item-price {
    font-size: 18px;
  }
  #cart-delete-btn {
    font-size: 20px;
  }
  .cart-item-name {
    font-size: 18px;
  }

  #cart-total-price {
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  .cart-line-separator {
    color: black;
    width: 100%;
  }

  #cart-blank-col {
    display: none;
  }
}
