#navbar {
  border-bottom: 1px solid gray;
}

#searchBar {
  padding-left: 30px;
}

.flexSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemLink {
  text-decoration: none;
  color: black;
}

.menuItemLink:hover {
  text-decoration: underline;
  color: red;
}

#subcategoryUl li {
  list-style: none;
}
