#navbar {
  border-bottom: 1px solid gray;
}

#searchBar {
  padding-left: 30px;
}

.flexSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemLink {
  text-decoration: none;
  color: black;
}

.menuItemLink:hover {
  text-decoration: underline;
  color: red;
}

#subcategoryUl li {
  list-style: none;
}

#dropdownGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
}

#searchedProductsDiv {
  border: 1px solid black;
  position: absolute;
  top: 90px;
  background-color: white;
  z-index: 999;
  padding: 10px;
}

#searchedProductsDivMobile {
  border: 1px solid black;
  position: static;
  background-color: white;
  z-index: 999;
  padding: 10px;
}
