.orderInfoContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.adminPartHr {
  color: black;
  opacity: 100%;
}

#cartItemCard {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.order-items-container {
  padding: 0px;
}

@media screen and (max-width: 425px) {
  .order-items-container {
    font-size: 11px;
  }

  #cartItemCard {
    font-size: 11px;
  }
}
